[submodule "polishedcrystal"]
	path = polishedcrystal
	url = https://github.com/Rangi42/polishedcrystal.git
[submodule "pokemonHnS"]
	path = pokemonHnS
	url = https://github.com/PokemonHnS-Development/pokemonHnS.git
